body {
    background-color: #FF9800;
    color: black;
}

.container {
    height: 300px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

h1.container {
    font-size: 275%;
}